<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="card text-center" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/rakusu.png" width="40%">
                        <h1 class="text-primary">Chatoom</h1>
                        <form method="post" action="/room">
                            <div class="input-group center-block">
                                <div class="input-group-prepend offset-md-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control index-user_name_text" id="userName"
                                        name="userName" placeholder="Username" aria-label="Username"
                                        aria-describedby="basic-addon1">

                                </div>
                                <div class="input-group-prepend offset-md-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control index-user_name_text" id="roomId"
                                        name="roomId" placeholder="roomId" aria-label="roomId"
                                        aria-describedby="basic-addon1">

                                </div>
                            </div>
                            <div class="index-enter">
                                <input type="button" class="btn btn-outline-primary" value="入室する" onclick="enter();">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/enter.js"></script>